<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AvailStatusEmailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="A0DbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=QStats;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="test@foo.com">-->
  <!--userName="pigida@aei.ca" password="oldSimple"-->
  <!--port="25"-->
  <!--<network host="mail.aei.ca" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <userSettings>
    <AvailStatusEmailer.Properties.Settings>
      <setting name="AppSettings" serializeAs="String">
        <value>AppSettings</value>
      </setting>
      <setting name="LastWin" serializeAs="String">
        <value>"Leads"</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </AvailStatusEmailer.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>