<?xml version="1.0"?>
<configuration>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="test@foo.com">
				<!--userName="pigida@aei.ca" password="oldSimple"-->
				<!--port="25"-->
				<network host="mail.aei.ca" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
